.full-width-footer {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.footer {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
}

.footer a:hover {
  text-decoration: underline !important;
}

.btn-subscribe {
  background-color: #a3acd7 !important; /* your hex code */
  color: #fff !important;
  border: none; /* optional to remove any border */
}
.btn-subscribe:hover {
  background-color: #7180b5 !important; /* slightly darker on hover */
}
