html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.recommended-section {
  background-color: #333 !important; /* dark gray background */
  width: 100%;
  padding: 2rem;
  margin: 0; /* remove any default margin */
  color: #fff; /* white text */
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
  text-align: left;
}

#root {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.hero-banner {
  position: relative;
  overflow: hidden;
}

.hero-video {
  object-fit: cover;
  width: 100%;
  height: 60vh;
}

.hero-content {
  z-index: 2;
  text-align: left;
}

video {
  object-fit: cover;
  width: 100%;
  height: 75vh !important;